#Whole {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    box-sizing: border-box;
}

#first{
    padding: 20px;

}

#thrid{
    padding: 20px;
}

#fifth{
    padding: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}