
#head{
    color: whitesmoke;
    margin-top: 6px;
    margin-left: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #2D3047;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button[type=submit] {
    background-color: #777DA7;
    border: 1px solid #2D3047;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #39304A;
}

.container {
    border-radius: 5px;
    background-color: #D3BDB0;
    padding: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

body{
    background-image: url("https://images.unsplash.com/photo-1517167685284-96a27681ad75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    background-size: 2547px 1777px;
    background-color: black;
    background-repeat: no-repeat;
}