.pageTitle {
    color: white;
}

.row1{
    color: black;
}

#first{
    padding: 20px;

}

.thrid{
    padding: 20px;
}

.fifth{
    padding: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

body{
    background-image: url("/assets/Images/backgroundimage.jpg");
    background-color: black;
}